<launch>
    <arg name="prefix_auto" default="auto"/>
    <arg name="prefix_teleop" default="teleop"/>
    <arg name="kp" default="1.0"/>
    <arg name="ki" default=""/>
    <arg name="kd" default=""/>
    <arg name="kf" default=""/>
    <arg name="p_estimado" default=""/>
    <arg name="tool_length" default="0.30832"/>
    <arg name="type" default=""/>
    <arg name="sensor_ip" default="192.168.1.13"/>
    <arg name="base" default="90.0"/>
    <arg name="shoulder" default="-90.0"/>
    <arg name="elbow" default="-90.0"/>
    <arg name="wrist1" default="-90.0"/>
    <arg name="wrist2" default="90.0"/>
    <arg name="wrist3" default="0.0"/>
    <!-- COORDINATOR -->
    <param name="robot_names" type="string" value="$(arg prefix_auto),$(arg prefix_teleop)"/>
    <node pkg="uma_fp_control" type="coordinatorTeleop" name="coordinator_node" output="screen"/>
    <!-- ROBOT ALICE -->
    <group ns="$(arg prefix_teleop)"> <!-- <group ns="$(arg prefix_auto)"> -->
        <remap from="/ur_hardware_interface/script_command" to="/$(arg prefix_teleop)/ur_hardware_interface/script_command" />
        <node name="Vacuum" pkg="uma_fp_control" type="controlVacuum" output="screen">
            <param name="prefix" value="$(arg prefix_teleop)" type="str"/>
            <param name="kp" value="$(arg kp)"  type="double"/>
            <param name="ki" value="0.0" type="double"/>
            <param name="kd" value="0" type="double"/>
            <param name="kf" value="0.175" type="double"/>
            <param name="p_estimado" value="0.35" type="double"/>
            <param name="tool_length" value="0.467" type="double"/>
            <param name="type" value="5" type="int"/>
            <param name="sensor_ip" value="$(arg sensor_ip)" type="str"/>
            <param name="base" value="30.58"  type="double"/>
            <param name="shoulder" value="-90.62"  type="double"/>
            <param name="elbow" value="-89.77"  type="double"/>
            <param name="wrist1" value="-61.15"  type="double"/>
            <param name="wrist2" value="90.13"  type="double"/>
            <param name="wrist3" value="0"  type="double"/>
        </node>
    </group>
    <!-- ROBOT BOB --> <!-- <group ns="$(arg prefix_teleop)"> -->
    <group ns="$(arg prefix_auto)">
        <remap from="/ur_hardware_interface/script_command" to="/$(arg prefix_auto)/ur_hardware_interface/script_command" />
        <node name="teleoperator" pkg="uma_fp_control" type="controlTeleop" output="screen">
            <param name="prefix" value="$(arg prefix_auto)" type="str"/>
            <param name="kp" value="$(arg kp)"  type="double"/>
            <param name="ki" value="0.0" type="double"/>
            <param name="kd" value="0" type="double"/>
            <param name="kf" value="0.0" type="double"/>
            <param name="p_estimado" value="0.15" type="double"/>
            <param name="tool_length" value="0.3" type="double"/>
            <param name="type" value="1" type="int"/>
            <param name="sensor_ip" value="192.168.1.1" type="str"/>
            <param name="base" value="345.8"  type="double"/>
            <param name="shoulder" value="-93.43"  type="double"/>
            <param name="elbow" value="-100.57"  type="double"/>
            <param name="wrist1" value="-51.9"  type="double"/>
            <param name="wrist2" value="81.74"  type="double"/>
            <param name="wrist3" value="0"  type="double"/>
        </node>
    </group>
</launch>
